<!-- Time-stamp: <2021-08-30 08:54:08 stefan> -*-web-*- -->
<!-- githubRepos.cshtml -->

@using Webapp.Modeller;
@model Webapp.Modeller.githubArkiv

@{
    ViewData["Title"] = "Olika projekt i github";
}

<h1>GitHub</h1>

<div>
    De av mina projekt som finns på github.com/Skaraborgfakir
</div>
<div>
    <table>
	<tr>
	    <th>Name</th>
	    <th>Full_Name</th>
	    <th>URL</th>
	    <th>Beskrivning</th>
	</tr>
	@foreach (Repo item in ViewBag.repos) {
	    <tr>
	    <td>@item.Name</td>
	    <td>@item.Full_Name</td>
	    <td><a href="@item.Html_Url">@item.Html_Url</a></td>
	    <td>@item.Description</td>
	    </tr>
	}
    </table>
</div>
